extends layout

block content
  .container-fluid
    .row
      .input-group
        .input-group-addon 总共记录：10条，查询条件：
        input(type="text").form-control
        span.input-group-btn
          button.btn.btn-default 确定
    .row
      table.table.table-bordered
        tr
          th 序号
          th 标题
          th 状态
          th 作者
          th 日期
        -for(var i=0;i<20;i++)
          tr
            td=i+1
            td 论马克思主义
            td 草稿
            td 王兰文
            td 2015年9月22日10:26:34
      span 当前1/5页,跳转&nbsp
      input(type='text').input-sm
      button.btn.btn-default &nbsp 确定