extends layout

block content
  .yw-content
    .container-fluid
      .row
        .col-sm-10
          label: h2 增加项目
          form(role='form', method='post')
            .form-group.form-inline
              label(for="title") 项目名称：
              input(autofocus type="text" name='title').form-control
            .form-group.form-inline
              label 详细介绍：
              textarea(name='content').content-detail
            .form-group.form-inline
              input(type='file' value='上传图片',name='picture')
              label 上传一张不超过4M的图片。

            button(type="submit" ).btn.btn-primary.btn-lg 保存

          //
            p 客户名称
              input(type='text',name='name')
            p 客户电话
              input(type='text',name='tel')
            p
              input(type='submit' value='提交')